In [1]:
import pandas as pd 
import numpy as np 


item_code = pd.read_csv('cleaned_item_code.csv')
item_code

,item_number,duration,price AUD,cost_material AUD,price IDR,cost_material IDR,medical_officer,medical_officer_new
0,011,30.0,49.0,7.49,160000,48000,GP,OHT
1,012,15.0,33.0,3.70,140000,42000,GP,OHT
2,013,15.0,30.0,3.88,110000,33000,GP,OHT
3,014,15.0,34.0,5.69,100000,30000,GP,OHT
4,015,30.0,83.0,12.95,260000,78000,GP,OHT
...,...,...,...,...,...,...,...,...
337,986,30.0,71.0,8.06,256500,76950,DNT,OHT
338,987,30.0,67.0,5.33,73500,22050,DNT,OHT
339,990,45.0,134.0,20.07,73500,22050,DNT,OHT
340,999,30.0,0.0,0.00,0,0,-,Specialist
341,1Dsy,30.0,96.0,8.29,283000,84900,DNT,OHT

In [3]:
item_code_non_extreme = item_code[item_code['price AUD'] <= 500]

In [4]:
item_code_list = item_code_non_extreme['item_number'].tolist()

# do apply lambda for item_code['recommened_item'] being random choice of item_code_list which is not the same as item_code['item_code']
item_code['recommended_item'] = item_code['item_number'].apply(lambda x: np.random.choice([i for i in item_code_list if i != x]))

# make column 'recommended_item' as dtype object 
item_code['recommended_item'] = item_code['recommended_item'].astype('object')

In [5]:
item_code[['item_number', 'recommended_item']].to_csv('recommendation_pair.csv', index=False)

### Process Eligible